/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\000039}}
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000314}}
audio:not([controls]) {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000318}}
b,
strong {
  font-weight: bolder; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000323}}
button {
  -webkit-appearance: button;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000330}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000335}}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000340}}
button,
select {
  text-transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000345}}
details {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000349}}
hr {
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000353}}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000359}}
input {
  -webkit-border-radius: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000362}}
  input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000368}}
  input[type="number"] {
    width: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000372}}
  input[type="search"] {
    -webkit-appearance: textfield; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000375}}
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000382}}
main {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000386}}
pre {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000390}}
progress {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000394}}
summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\0000398}}
svg:not(:root) {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003102}}
template {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003106}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003110}}
[hidden] {
  display: none; }

/*
 * Universal inheritance
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003118}}
*,
::before,
::after {
  box-sizing: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003124}}
* {
  font-size: inherit;
  line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003129}}
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003135}}
button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/*
 * Opinionated defaults
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003152}}
* {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003159}}
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003168}}
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003181}}
select {
  -moz-appearance: none;
  -webkit-appearance: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003185}}
  select::-ms-expand {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003189}}
  select::-ms-value {
    color: currentColor; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003196}}
svg {
  fill: currentColor; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003202}}
[aria-busy="true"] {
  cursor: progress; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003208}}
[aria-controls] {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003214}}
[aria-disabled] {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003220}}
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003225}}
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

/*
 * Configurable defaults
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003238}}
* {
  background-repeat: no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003244}}
:root {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003254}}
a {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003260}}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003271}}
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003281}}
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003305}}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003314}}
nav ol,
nav ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003321}}
small {
  font-size: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003327}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003334}}
textarea {
  resize: vertical; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003340}}
::-moz-selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_sanitize\.scss}line{font-family:\00003346}}
::selection {
  background-color: #b3d4fc;
  color: #ffffff;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\000031}}
main,
header,
footer,
article,
section,
aside,
details,
summary {
  margin: 0 auto;
  margin-bottom: 16px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000314}}
main {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 16px 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000321}}
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  clear: both;
  display: inline-block;
  float: left;
  max-width: 100%;
  padding: 16px 0;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000330}}
  footer p {
    margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000335}}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  margin-bottom: 16px;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000342}}
img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline; }

@media screen and (max-width: 400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000349}}
  article,
  section,
  aside {
    clear: both;
    display: block;
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_base\.scss}line{font-family:\0000357}}
  img {
    margin-right: 16px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\000031}}
body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.4; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\000038}}
p {
  margin: 0;
  margin-bottom: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000313}}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000324}}
h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000331}}
h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000337}}
h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000343}}
h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 16px 0 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000349}}
h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000355}}
h6 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 600;
  margin: 16px 0 4px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000362}}
small {
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000367}}
pre {
  background: #efefef;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  margin: 16px 0;
  padding: 16px;
  white-space: pre-wrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000378}}
code {
  color: rgba(0, 0, 0, 0.8);
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000390}}
a {
  color: #2196f3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\0000393}}
  a:hover, a:focus {
    color: #2196f3;
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003100}}
dl {
  margin-bottom: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003104}}
dd {
  margin-left: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003108}}
ul,
ol {
  margin-bottom: 8px;
  padding-left: 40px;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003115}}
blockquote {
  border-left: 2px solid #2196f3;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin: 16px 0;
  padding-left: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003123}}
figcaption {
  font-family: Georgia, Times, "Times New Roman", serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003127}}
u {
  text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003131}}
s {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003135}}
sup {
  font-size: 14px;
  vertical-align: super; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003140}}
sub {
  font-size: 14px;
  vertical-align: sub; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_typography\.scss}line{font-family:\00003145}}
mark {
  background: #ffeb3b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\000031}}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 4px;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000324}}
input[type="color"] {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000333}}
input:not([type]) {
  -webkit-appearance: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000343}}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #2196f3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000362}}
input:not([type]):focus {
  border-color: #2196f3; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000366}}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px thin rgba(0, 0, 0, 0.12); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000372}}
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000393}}
input:not([type])[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54);
  cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\0000399}}
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.54); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003106}}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #ea1c0d;
  color: #f44336; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003113}}
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #f44336; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003119}}
select {
  -webkit-appearance: menulist-button;
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: sub; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003125}}
select[multiple] {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003129}}
label {
  line-height: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003133}}
fieldset {
  border: 0;
  margin: 0;
  padding: 8px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003139}}
legend {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  margin-bottom: 8px;
  padding: 8px 0;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_form\.scss}line{font-family:\00003148}}
textarea {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: block;
  margin-bottom: 8px;
  max-width: 100%;
  padding: 8px;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\000031}}
input[type=submit],
input[type=reset],
button {
  background: #2196f3;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\0000317}}
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\0000323}}
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, 0.54); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\0000330}}
input[type=submit]:active,
input[type=reset]:active,
button:active {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, 0.54);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
  outline-offset: -2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\0000339}}
input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  background: #0c7cd5;
  border-color: 1px solid rgba(0, 0, 0, 0.54);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_buttons\.scss}line{font-family:\0000348}}
input[type=submit]:disabled,
button:disabled {
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.38);
  cursor: not-allowed; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\000031}}
table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\000036}}
caption {
  padding: 8px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\0000310}}
thead th {
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\0000316}}
tr {
  margin-bottom: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\0000320}}
th,
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
  vertical-align: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\0000327}}
tfoot tr {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/_tables\.scss}line{font-family:\0000331}}
tfoot td {
  color: rgba(0, 0, 0, 0.54);
  font-size: 8px;
  font-style: italic;
  padding: 16px 4px; }
