@media -sass-debug-info{filename{font-family:file\:\/\/\/vagrant_data\/static\/sass\/normalize\.scss}line{font-family:\000037}}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
