//Basic stylings
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 16px;
$lg-pad: 20px;
$xlg-pad: 40px;
$trans: .3s;

//Breakpoints
$small-breakpoint: 400px;
$large-breakpoint: 768px;


//Other
$border: 1px solid $dividers;
